

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: 200px ;
    margin: 23px;
}
.pokeball-icon {
    cursor: pointer;
}
ul { 
    display: flex;
}
li {
    list-style: none;
    cursor: pointer;
    padding: 2rem;
    font-size: 20px;
 }
   