<app-header></app-header>
<div class="src-and-name">
<div class="src">
    <input placeholder="Filtre por nome">
    <select>
        <option value="" hidden selected>Tamanho da página</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="250">250</option>
    </select> 
    <button class="src-btn">Pesquisar</button>
</div>
<div class="name">  
    <span>Quantidade de cartas adicionadas: 0</span>    
    <input placeholder="Insira o nome aqui"> 
</div>
</div>
<!-- ISSO AQUI VAI SER UM COMPONENT NO FUTURO-->
<div class="card-field">    
    <div class="card-box"></div>
    <div class="card-deck"></div>
</div>
<div class="flex-end">
<button class="reg-btn">Cadastrar</button>
</div>